body 
{
	padding: 0;
	margin: 0 0 0 0;
	font-size: 1.0em;
	height: 100%;
	text-align: center;
}

div.header
{
	clear: both;
	float: left;
	width: 100%;
	height: 144px;
}

div.container
{
	margin: 0px;
	display: inline;
}

div.middle
{
	clear: both;
	float: left;
	width: 800pt;
	display: block;
}

div.left
{
	float: left;
	width: 140pt; 
	margin:0;
	height: 100%;
	padding: 8pt;
	display: inline;
}

div.content
{
	display: inline;
	width: 620pt;
	height: 100%;
	float: left;
}

div.footer
{
	clear: both;
	float: left;
	width: 100%;
	padding-top: 20pt;
}

img, a img 
{
	border: 0;
}

br 
{
	clear: both;
}

p 
{
    float: left;
	padding: 4pt 0 4pt 10pt;
	display: block;
	text-align: left;
	margin: 2pt 2pt 2pt 2pt;
	font-size: .9em;
}

p.etched 
{
	margin-bottom: 0;
	padding-bottom: 15px;
}

p.error 
{
	font-weight: bold;
	padding: 10px 10px;
	text-align: center;
}

h1 
{
	display: block;
	font-size: 1.4em;
	float: left;
	overflow: hidden;
	text-align: left;
	text-decoration: none;
	letter-spacing: 1px;
	line-height: 150%;
}

h2 
{
	clear: both;
	display: block;
	font-size: 110%;
	font-weight: normal;
	letter-spacing: 2px;
	margin-bottom: 2px;
	padding: 2px 0 2px 0px;
}

h3 
{
	text-align: left;
	clear: both;
	display: block;
	font-weight: bold;
	letter-spacing: 1px;
	padding-top: 10px;
	font-size: 15px;
}

h3 a  
{
	font-size: .8em;
	overflow: visible;
}

ul.error 
{
	font-size: 0.8em;
	font-weight: bold;
	padding: 10px 10px;
	text-align: center;
}


em 
{
	font-style: normal;
	text-decoration: underline;
}

cite 
{
	display: block;
	font-size: 0.8em;
	margin-bottom: 1.75em;
}

.none {
	display: none;
}

div.footer a 
{
	font-size: 0.7em;
	font-weight: bold;
}


div.footer p 
{
	font-size: 0.7em;
	padding: 0;
	text-align: justify;
}

div.container_header 
{
	height: 36px;
	margin: 0 auto;
	text-align: left;
}

div.container_header_left 
{
	height: 30px;
	margin: 0 auto;
	position: relative;
	text-align: left;
}

div.links 
{
	padding: 8px 0 0px 0;
}

div.links span {
	font-size: 0.75em;
	letter-spacing: 1px;
	text-transform: none;
	margin: 0;
	padding: 0;
}


div.links a 
{
	text-decoration: none;
	clear: both;
	display: block;
	font-size: 0.6em;
	font-weight: bold;
	letter-spacing: 2px;
	padding: 0px 8px 4px 4px;
	height: 16px;
} 

h1 a 
{
	display: block;
	font-size: 1.4em;
	float: left;
	height: 220px;
	overflow: hidden;
	margin-top: 40px;
	text-align: center;
	text-decoration: none;
	text-indent: -5000px;
	width: 491px;
}

h1 a:hover 
{
	border: 0px;
}

div.navigation 
{
	font-size: 0.8em;
	line-height: normal;
}
		
div.navigation ul 
{
	right: 0;
	list-style: none;
	position: absolute;
	margin: 0;
}

div.navigation li 
{
	display: inline;
}
		
div.navigation a, div.navigation li 
{
	float: left;
	text-decoration: none;
}

div.navigation a span, div.navigation li span 
{
	float: left;
	font-weight: bold;
	display: block;
	padding: 2px 12px 5px 10px;
}

div.navigation a span 
{
	float: none;
}

div.navigation a:hover, div.navigation a:focus 
{
	border: 0px;
	margin-top: 0px;
}

div.navigation a:hover span, div.navigation a:focus span 
{
	padding-top: 5px;
}

div.cart 
{
	display: inline;
	float: right;
	font-size: .8em;
	font-weight: bold;
	letter-spacing: 2px;
	line-height: normal;
	text-align: left;
	vertical-align: top;
	padding: 10px 40px 0 10px;
}

div.cart span 
{
	vertical-align: top;
}

div.search 
{
	font-size: .8em;
	font-weight: bold;
	letter-spacing: 2px;
	line-height: normal;
	text-align: left;
	padding: 2px 6px 0 8px;
	float: left;
}

div.description
{
	text-align: left;
	float: left;
	display: inline;
	clear: left;
	font-weight: normal;
	line-height: 120%;
}


#go 
{
	vertical-align: middle;
}

#my-title 
{
	float: left;
	font-weight: bold;
	text-align: left;
	font-size: 2em;
	letter-spacing: 4px;
	white-space:nowrap;
	margin: 10px 0 0 10px;
}

img.right 
{
	float: right;
	margin-left: 8px;
}

.menuheader 
{
	clear: both;
	display: block;
	font-size: .7em;
	font-weight: normal;
	letter-spacing: 2px;
	margin-bottom: 2px;
	padding: 5px 0 5px 0px;
}

div.left h2 
{
	border-bottom: 1px solid #333;
	clear: both;
	display: block;
	font-size: 1em;
	font-weight: normal;
	letter-spacing: 2px;
	margin-bottom: 2px;
	padding: 2px 0 2px 0px;
}

div.left h2 span.right 
{
	position: absolute;
	right: 10px;
	top: 2px;
}

div.left h3 
{
	clear: both;
	display: block;
	font-size: .6em;
	font-weight: bold;
	letter-spacing: 3px;
	padding: 4px 0 4px 4px;
}

div.left h4 
{
	font-size: 0.6em;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	vertical-align: middle;
	padding: 0;
	margin: 0;
}

div.left h5 
{
	clear: both;
	display: block;
	font-size: 0.6em;
	font-weight: bold;
	letter-spacing: 5px;
	margin-bottom: 12px;
	padding: 2px 0 2px 12px;
	text-transform: uppercase;
}

div.left h6 
{
	font-size: 0.6em;
	vertical-align: top;
	padding: 0 0 6px 6px;
	line-height: .8em;
	margin: 12pt 0 6pt 0;
}

.heading
{
	font-size: .85em;
	text-align: left;
	padding: 4px 4px 4px 4px;
	text-indent: 30px;
}

div.msg 
{
	float: left;
	display: block;
	font-size: .8em;
	font-weight: bold;
	letter-spacing: 3px;
	margin-left: 40px;
	padding: 8px 4px 0 4px;
	text-align: left;
}

div.msg a 
{
	font-size: .9em;
	float: left;
	letter-spacing: 1px;
	border-bottom: 0;
}

blockquote 
{
	margin: 30px 0 10px 0; 
	padding-left: 30px;
	text-align: justify;
}

blockquote p 
{
	margin: 0;
	padding-right: 30px;
}

blockquote p.source 
{
	background: none;
	font-style: italic;
	font-weight: bold;
	letter-spacing: 1px; 
	padding: 0 40px 0 0;
	text-align: right;
}

ul.bullet 
{
	font-size: 0.8em;
	list-style: none;
	margin-bottom: 1.75em;	
}

ul.bullet li 
{
	padding-left: 40px;
}

dl.info 
{
	font-size: 0.9em;
	margin: 0 0 0 30pt;
}

dl.info dt 
{
	font-weight: normal;
	float: left;
	padding: 0 8pt 0 8pt;
	width: 100px;
}

dl.info dd 
{
	float: right;
	width: 445px;
}

input 
{
	width: 120;
}

ul.links 
{
	font-size: 0.7em;
	list-style: none;
	margin-bottom: 17px;
	width: 250px;
}


ul.links li a 
{
	display: block;
	width: 200px;
}

dl.pr 
{
	font-size: 0.8em;
	margin-bottom: 10px;
	width: 120px;
	text-align: center;
}

dl.pr dt 
{
	float: left;
	font-weight: bold;
}

dl.pr dd a, #footer p.pr a 
{
	width: 100px;
	padding-left: 8px;
	text-align: center;
}

dl.pr dd.img 
{
	display: block;
	float: right;
	height: 40px;
	overflow: hidden;
	width: 102px;
}

.link 
{
	width: 114px;
	padding-left: 8px;
	text-align: center;
	padding-left: 6px;
	text-transform: uppercase;
}

.form-container
{
	float: left;
}

.login-container
{
    float: left;
    padding: 20pt;
	width: 340pt;
}

.login-container fieldset label 
{
	width: 200pt;
}

div.forgot 
{
	float: left;
	line-height: 100%;
	width: 340pt;
	margin: 4pt 0 0 0;
	height: 100%;
	display: block;
}

div.forgot a {
	float: right;
	margin: 4pt 10pt 0 0;
	font-size: 1em;
}

a.linklabel 
{
	float: none;
	display: block;
	text-align: left;
	font-weight: bold;
	font-size: .8em;
	margin-bottom: 2px;
	padding: 2px 6px 2px 0px;
	list-style: none;
}

div.main
{
	float: left;
	margin-bottom: 12pt;
	width: 412pt;
	display: inline;
}

div.shoppingcart
{
	float: left;
	margin-bottom: 12pt;
	width: 480pt;
	display: inline;
}

div.mainsearch
{
	float: left;
	width: 560pt;
	display: inline;
}

div.somain
{
	float: left;
	margin-bottom: 12pt;
	width: 420pt;
	display: inline;
}

div.soright 
{
	float: right;
	width: 190pt;
	font-size: 0.9em;
	font-weight: normal;
	margin-right: 10px;
	line-height:100%;
}

div.right 
{
	float: right;
	font-size: .9em;
	margin: 0 40pt 0 0
}

div.cartright 
{
    float:right;
	font-size: 1em;
	text-align: left;
	width: 262pt;
	display: block;
	line-height: 100%;
	padding-top: 40pt;
}

div.right a, div.soright a  
{
	font-weight: bold;
}

div.freeshipping
{
	width: 140px;
	padding:  2px 0 2px 0px;
}

div.freeshippingtitle
{
	font-size: .9em;
	font-weight: bold;
	letter-spacing: 2px;
}

div.stripecol2
{
	float: left;
	text-align: left;
	display: inline;
	width: 340pt;
	margin: 2pt;
	padding: 2pt;
	line-height: 100%;
}


div.stripecol
{
	float: left;
	text-align: left;
	display: inline;
	width: 170pt;
	margin: 10pt;
	padding: 4pt;
	line-height: 100%;
}

div.stripecol span 
{
	clear: both;
	display:block;
	font-weight: normal;
	text-align: left;
	float: left;
	width: 162pt;
}

div.stripecol2 span
{
	clear: both;
	display:block;
	font-weight: normal;
	text-align: left;
	float: left;
	width: 292pt;
}

div.stripecol a, div.stripecol2 a
{
    float: right;
    font-size: .9em;
}

ul.search 
{
	list-style-type: none;
	margin: 0;
	padding: 6pt 0;
}

ul.search .left
{
	float: left;
	text-align: left;
}

ul.search .right
{
	float: right;
	text-align: right;
}

ul.search li a  
{
	display: block;
	font-size: .8em; 
	font-weight:bold;	
	padding: 2pt 0 0 0;
}

ul.search li.right a  
{
	float:right;
}

input.qty
{
	width: 20pt;
}

input.CCV2
{
	width: 20pt;
}

.page
{
	display: block;
	position: relative; 
	width: 500px; 
	height: 410px;
}

.hiddenpage
{
	display: none;
	position: absolute; 
	width: 70em;
	height: 60em;
	z-index: -1;
	top: 30px;
	left: 1px;
	height: 0;
}

.frame 
{
	float: left;
	padding: 20px;
	width: 400pt; 
}

.shortframe {
	width: 500px; 
	height: 210px;
}

.actions 
{
	width: 400pt;
	float:  left;
	display: block;
	line-height: normal;
	margin-top: 12pt;
	padding-top: 6pt;
}

.right 
{
	float: right;
}

.actions ul 
{
	float: none;
	right: 0;
}

.actions li {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}

.button {
	border-width:1px;
	border-style:solid;
	margin:  2pt;
	padding: 2pt 4pt 2pt 4pt;
	display: inline;
	font-size: .8em;
	letter-spacing: 1px;
	text-transform: none;
	text-align: center;
	cursor: pointer;
}

.radioStyle 
{
	width: 20px;
	border-style: none none none none;
	border-width: 0 0 0 0;
}

.actions 
{
	line-height: normal;
	height: 40px;
}

.actions ul {
	right: 0;
	padding: 0;
	margin: 0;
	float: none;
}

.actions li 
{
	display: inline;
	list-style-type: none;
}

div.details
{
	margin:0;
	padding: 10px;
	text-align: left;
	line-height: 1em;
	font-size: .9em;
}

div.shoppingcart
{
	margin:0;
	padding: 10px;
	text-align: left;
	line-height: 1em;
	font-size: .9em;
}

div.dtlsleft 
{
	float: left;
	padding: 1em 1em 1em 1em;
}

div.dtlsright { display: inline-block; }

div.info
{
	font-size: .9em;
	text-align: left;
	text-transform: none;
	padding: 0 0 0 0;
	margin:  0 0 6pt 0;
}

.righttitles 
{
	margin:0;
	padding: 1em 1em 1em 1em;
	text-align: center;
	font-size: 1.2em;
	line-height: 150%;
}

.details a,
.shoppingcart a 
{
	font-size: .9em;
	float: left;
	vertical-align: bottom;
	letter-spacing: 1px;
	border-bottom: 0;
	margin-bottom: 0;
}

.welcome a  
{
	width: 2em;
	overflow: visible;
}

.cart a  {
	text-decoration: none;
	font-size: .9em;
	vertical-align: top;
}

.details .shoppingcart a.nounderline {text-decoration: none;}

span.welcome 
{
	font-size: .7em;
	letter-spacing: 1px;
	padding: 0 0 20 0;
	margin: 0 0 0 0;
}

div.stripe
{
	margin: 0px 6px 10px 4px;
	font-size: .9em;
	font-weight: normal;
	min-width: 860px;
	margin:0;
	float: left;
	padding:6pt;
	height: 100%;
}

div.searchstripe
{
	font-size: .9em;
	float: left;
	text-align: left;
	margin: 0;
	width: 540pt;
	margin:0;
	float: left;
	padding: 2pt;
	height: 100%;
}

div.indexstripe
{
	line-height: 100%;
	font-size: .9em;
	text-align: left;
	margin: 0 0 2px 4px;
	width: 560px;
	margin:0;
	float: left;
	padding: 4pt 0 2pt 12pt;
	height: 100%;
}

div.stripe table
{
	float: left;
	text-align: left;
}

div.searchstripe a,
div.stripe a 
{
	font-size: .9em;
	list-style: none;
	text-decoration: none;
	text-transform: none;
	padding: 4pt 2pt;
}

div.indexstripe a
{
	float: left;
	display: inline-block;	
	font-size: .8em;
	margin:  2pt;
	padding: 2pt 4pt;
	list-style: none;
	text-decoration: none;
	display: inline;
	letter-spacing: 1px;
	text-transform: none;
	text-align: center;
}

.large 
{
	width: 800px;
}

div.cc
{
	float: left;
	min-width: 220px;
	height: 100%;
	margin:0;
	padding: .4em .4em .4em 0;
	display: inline-block;
}


div.manufacturer
{
	float: left;
	min-width: 190pt;
	height: 100%;
	margin:10pt;
	padding: 8pt 0 8pt 0;
	text-align: left;

}

div.manufacturer a 
{
	background: transparent;
	font-size: .9em;
	letter-spacing: 2px;
	text-transform: uppercase;
}

div.manufacturertitle
{
	padding: 0 0 0 0;
	margin:  10px 0 0 0;
	font-size: .9em;
	width: 220px;
	line-height: 110%;
}

div.featuredproduct
{
	float: left;
	width: 122pt;
	height: 100%;
	margin: 2pt 6pt 0 6pt;
	padding: 0;
}

div.featuredheading
{
	text-align: left;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	width: 500px;
	line-height: 110%;
}

div.featuredtitle
{
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	width: 120pt;
	text-align: center;
	font-size: .9em;
}

div.signedin
{
	margin: 0px 6px 10px 4px;
	font-size: .8em;
	min-width: 400px;
	text-align: left;
	margin:0;
	float: left;
	padding:1em;
	height: 100%;
}

div.col1
{
	float: left;
	width: 150pt;
	height: 100%;
	margin:0;
	padding: 10px;
}

div.col2
{
	float: left;
	clear: right;
	width: auto;	
	min-width: 170pt;
	display:inline-block;
	padding:  0 0 0 10px;
	font-weight: bold;
	text-align: center;
}

.tiles{
	float: left;
	margin-left: 0px; 
	padding-left: 0px;
	margin: 0px;
}
	
.tiles li
{
	display: inline;
	float: left;
}

.tiles div
{
	width: 154pt;
	display: table;
	height:auto;
	padding: 0 0 0 0;
}

.tiles ul
{
	margin-left: 0px; 
	padding: 2pt 8pt 0 0px;
	margin: 0px;
}

.tiles ul li
{
	display: table;
	margin: 0px;
	padding: 0 0 4px 0;
	font-weight: normal;
}

.tiles h3 
{
    float: none;
    font-size: .9em;
    font-weight: normal;
    width: 132pt;
    text-align: center;
    margin: 2pt 0 2pt 4pt;
    padding-top: 0;
}

.tiles a
{
	padding: 1pt 8pt 1pt 8pt;
	text-align: center;
	font-weight: normal;
	font-size: .9em;
}


.frame a, .salesorderstripe a, .signedin a
{
	padding: 1pt 8pt 1pt 8pt;
	display: inline;	
	text-align: center;
	list-style: none;
	font-weight: normal;
}

div.checkoutright
{
	height: 100%;
	font-weight: bold;
	font-size: 1em;
	padding-left: 20px;
}

div.salesorderstripe
{
	float: left;
	text-align: left;
	line-height: 100%;
	font-size: .8em;
	margin: 0;
}

.centerheading
{
	font-size: 1em;
	text-align: left;
	display: block;
	padding: 0 0 0 10px;
	font-weight: normal;
}

div.salesorderCol
{
	text-align: left;
	display: block;
	margin: 0;
	padding: 6pt;
	height: 80pt;
	width: 180pt;
	line-height: 100%;
}

.stripe span, 
.searchstripe span, 
.salesorderstripe span, 
.salesorderCol span
{
	clear: both;
	padding: 0 0 0 0;
	display: block;
	font-weight: normal;
	text-align: left;
	margin-bottom: 2px;
	float: left;
	width: 168pt;
}

.col1 span
{
	text-align: center;
    width: 150pt;
}

#confirmModalOverlay 
{
	cursor:wait;
}


#confirmModalContainer 
{
	font-size: 1.0em;
	height: 100%;
	height:140px; 
	width:420px; 
	text-align:left; 
}

#confirmModalContainer .header 
{
	height:30px; 
	width:100%; 
	font-size:1.1em; 
	font-weight:bold; 
	line-height:30px;
}

#confirmModalContainer .header span 
{
	padding-left:8px;
}

#confirmModalContainer .message 
{
	text-align: center; 
	margin: 0; 
	padding: 12px 4px; 
	font-size: 1em;
}

#confirmModalContainer .buttons 
{
	width:160px; 
	float:right; 
	padding:10px 8px 0;
} 

#confirmModalContainer .buttons div 
{
	float:right; 
	margin-left:8px; 
	width:70px; 
	height:26px; 
	font-weight:bold; 
	text-align:center; 
	cursor:pointer;
} 

#simplemodal-container a.modalCloseImg 
{
    background:url(../img/basic/x.png) no-repeat; 
    width:25px; 
    height:29px; 
    display:inline; 
    z-index:3200; 
    position:absolute; 
    top:-15px; 
    right:-18px; 
    cursor:pointer;
}

#confirmModalContainer a.modalCloseImg 
{
    background:url(../img/basic/x.png) no-repeat; 
    width:25px; 
    height:29px; 
    display:inline; 
    z-index:3200; 
    position:absolute; 
    top:-15px; 
    right:-18px; 
    cursor:pointer;
}

#confirmModalContainer a.modalCloseX,
#confirmModalContainer a.modalCloseX:link,
#confirmModalContainer a.modalCloseX:active,
#confirmModalContainer a.modalCloseX:visited 
{
	background:url(Content/images/x.png) no-repeat; 
	text-decoration:none; 
	font-weight:bold; 
	font-size:1.1em; 
	position:absolute; 
	top:-1px; 
	left:400px; 
}

span.label 
{
	float: left;
	letter-spacing: 1px;
	text-align: right;
	vertical-align: bottom;
	padding: 0 20px 0 20px;
	margin: 0 0 0 0;
	text-align: left;
	line-height: normal;
}


.narrowlist
{
	font-size: .9em;
	margin: 4pt 0 4pt 0;
	border-spacing: 2px;
	letter-spacing: 1px;
	text-transform: none;
	padding: 4pt;
	width: 400pt;
}

.lists
{
	font-size: 12px;
	margin: 8pt 0 8pt 0;
	display: block;
	border-spacing: 2px;
	padding: 4px 20px 4px 20px;
	width: 460pt;
}

.widelists
{
	width: 900px;
}

.300wide
{
	width: 300pt;
}

.lists th, .narrowlist th
{
    white-space: nowrap;
    margin: 10px;
    font-size:12px;
    font-weight: bold;
    text-align: left;
	padding: 2pt 6pt 2pt 6pt;
}

.lists td, .narrowlist td
{
    white-space: nowrap;
	padding: 2pt 6pt 2pt 6pt;
	vertical-align: bottom;
}

.lists .numericth, .narrowlist .numericth
{
	 white-space: nowrap;
	 text-align: right;
}

.lists .numerictd, .narrowlist .numerictd
{
	 white-space: nowrap;
	 text-align: right;
}

.itemlist
{
	float: left;
	font-size: .9em;
	margin: 10px 0px 10px 12px;
	display: block;
	border-spacing: 0;
	padding: 2pt;
	width: 100%;
}


.itemlist td
{
    white-space: nowrap;
	padding: 4px 8px 4px 8px;
	font-weight: normal;	 
	text-align: left;
	padding: 0 12px 0 0;
	margin: 0 0 0 0;
}

.itemlist th
{
    white-space: nowrap;
    width: 100%;
}

.lists span
{
	display: inline;
	font-size: 0.8em;
	font-weight: bold;
	letter-spacing: 2px;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	text-transform: uppercase;
	vertical-align: top;
}

a.right
{
    text-align: right;
    float:right;
}	

.footer span
{
	font-size: 0.9em;
	text-align: center;
	display: block;
}
	
.details span,
.shoppingcart span
{
	display: inline;
	font-size: 0.9em;
}

.details span.title 
{
	letter-spacing: 1px;
	font-weight: normal;
	font-size: 0.8em;
	padding: 0 0 0 0;
	margin: 0 2pt 2pt 0;
	width: auto;
}

.narrowlist span 
{
	display: inline;
	font-weight: bold;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
	
.lists .button, .narrowlist .button {
	border-width: 1px;
	border-style: solid;
	font-weight: bold;
	width: 120px;
	padding: 2px;
	margin: 0px auto;
	display: inline;
	font-size: .9em;
	letter-spacing: 1px;
	text-transform: none;
}

span.text 
{
	text-transform: none;
	text-align: left;
	font-size: .9em;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.col1 span.text 
{
	text-align: center;
}

span.title 
{
	width: 400pt;
	float:left;
	font-size: 1em;
	letter-spacing: 1px;
	text-transform: none;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

span.coltitle 
{
	float:left;
	line-height: 100%;
	font-size: 1em;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

fieldset
{
	border: 0;
	display: block;
	padding: 0px 10px 10px 10px;
	float: left;
	text-align: left;
}

fieldset legend
{	
    float: left;
	border-width:0px 1px;
	border-style:solid;
	font-weight:bold;
	text-transform:uppercase;
	font-size:.7em;
	letter-spacing:2px;
	padding:2px 5px;
	margin:0px 0px 10px 0px;
	display: block;
}
	 
fieldset legend img 
{
	padding:0px 5px 0px 5px;	
}

fieldset label 
{
	display:block;
	float:left;
	width:120px;
	font-weight: bold;
	font-size: .8em;
	text-align: right;
	margin: 1pt 6pt 4pt 0pt;
}

fieldset input
{
	width: 200px;
	float: left;
	font-size: .8em;
	margin: 0 0 4pt 0pt;
}

fieldset textarea 
{
	width: 200px;
	height: 60px;
	margin: 0 0 4pt 0pt;
}

fieldset select 
{
	width: 202px;
	margin: 1pt 0 4pt 0pt;
	float: left;
	font-size: .8em;
}

fieldset .radioStyle 
{
	width: 20px;
	border-style: none none none none;
	border-width: 0 0 0 0;
}

fieldset span.input 
{
	font-size: .9em;
	margin:  0 0 4pt 0pt;
}

fieldset span {
	font-size: .9em;
	margin:  0 0 2pt 0pt;
}

fieldset h3 
{
    font-size: .9em;
    font-weight: normal;
    width: 180pt;
}

.thin  
{
	width: 80px; 
	margin:  0 8pt 4pt 0pt;
}

img.left 
{
	float: left;
	padding: 0 0 8pt 30pt;
}

div.continue 
{
	float: left;
	line-height: 100%;
	width: 320pt;
	margin: 20pt 0 0 0;
	height: 100%;
	display: block;
}

div.continue a 
{
	float: right;
	margin: 10pt 10pt 0 0;
	font-size: 1em;
}

span.center
{
	font-size: .9em;
	text-align: center;
	font-weight: normal;
}

span.small
{
    font-size: .7em;
}

span.strike
{
    display: inline;
    float: left;
    clear: left;
	font-size: .9em;
	text-align: right;
	font-weight: normal;
	text-decoration: line-through;
	width: 54pt;
	margin: 0 4pt 0 0;
}

span.red
{
	clear: none;
    display: inline;
	font-size: .9em;
	text-align: left;
	font-weight: normal;
	color: #f00;
	width: 54pt;
	margin: 0 4pt 0 0;
}

span.featuredtitle
{
	display: block;
	padding: 0;
	margin: 0;
	width: 120pt;
	line-height: 100%;
	text-align: center;
	font-size: .9em;
}
